$colorBlack: black;
$colorRed: red;
$colorBlue: blue;
$textWhite: white;

h1{
  color: $colorBlack;
}
footer{
  background-color: $colorBlack;
  h4{
    color: $colorRed;
    a{
      color: $colorBlue;
    }
  }
  div{
    color: $textWhite;
  }

}
