@mixin cuadrado ($fondo,$lado){
  background-color: $fondo;
  width: $lado;
  height: $lado;
  margin-top: 5px;
  padding: 10px;
  color: white;
}
.cuadrado1{
  @include cuadrado(black,100px);
}
.cuadrado2{
  @include cuadrado(red,200px);
}
.cuadrado3{
  @include cuadrado(blue,300px);
}
