@mixin cuadrado {
  background-color: black;
  width: 200px;
  height: 200px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}
.cuadrado1{
  @include cuadrado;
}
.cuadrado2{
  @include cuadrado;
}
.cuadrado3{
  @include cuadrado;
}
